# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

# runtime / generated
run/
logs/
crash-reports/
classes/

# OS / temp
.DS_Store


Thumbs.db
*.log
*.tmp

# Files from Forge MDK
forge*changelog.txt